@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
 	padding:0;
 	margin:0;
 }
 :root {
 	--spacing:10px;
 	--blur:0px;
 	--brightness:100%;
 	--saturate:0%;
 	--invert:0%;
 	--color:orange;
 	--raduis:10px;
 	--width:500px;
 	--height:400px;
}
 body{
 	font-family: 'Oswald', sans-serif;
 	box-sizing: border-box;
 	background-color:#585861;
 }
 .layout {
 	margin:20px 0px;
 	display:flex;
 	flex-direction:column;
 	width:100vw;
 	height:100vh;
 	align-items: center;
 	justify-content: center;
 }
 .layout h2 {
 	color:white;
 	margin-bottom:40px;
 }
.img {
	max-width:100%;
	margin:20px;
	padding:10px;
}
img {
	padding:var(--spacing);
	background-color:var(--color);
	filter:blur(var(--blur)) brightness(var(--brightness)) saturate(var(--saturate)) invert(var(--invert));
	border-radius: var(--raduis);
	width:var(--width);
	height: var(--height);
}
label {
	color:white;
	font-weight: bolder;
	padding:10px;
}
.inputs {
	padding:30px;
}